parameters:
  bootstrapFiles:
    - tests/F4/Config.php
  ignoreErrors:
    -
      message: '#Unsafe usage of new static\(\)#'
      paths:
        - src/F4/DB.php
        - src/F4/DBTransaction.php
        - src/F4/DB/StaticOfMethodTrait.php

services:
  -
    class: F4\PHPStan\Reflection\DB\DBClassReflectionExtension
    tags:
      - phpstan.broker.methodsClassReflectionExtension
  -
    class: F4\PHPStan\Reflection\DBTransaction\DBTransactionClassReflectionExtension
    tags:
      - phpstan.broker.methodsClassReflectionExtension